.table.is-centered {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1023px) {
    .table.is-centered-touch {
        margin-left: auto;
        margin-right: auto;
    }    
}